# <ifModule mod_rewrite.c>
#   RewriteRule on
#   RewriteRule /
# </ifModule>

ServerSignature Off
AddDefaultCharset UTF-8
ErrorDocument 404 /pages/error.php
ErrorDocument 400 /pages/error.php

# RewriteRule ^reg?& reg.php [NC, L]
